.header-mobile {
  background-color: green;
  padding: 1rem;
  align-items: center;
}

.nav-item-mobile {
  display: block;
}

.always-visible {
  display: flex;
  justify-content: space-between;
  /* padding: 0 1rem 0 1rem; */
}
.not-always-visible
{
  display: flex;
  flex-direction: column;
}
.not-always-visible a
{
  text-align: center;
}


.header-mobile a{
  font-family: Poppins;
  margin: 1rem;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
}

.header-mobile button{
  font-family: Poppins;
  margin: 1rem;
  text-decoration: none;
  text-transform: lowercase;
}
